<main class="main">
    <ul class="main__list">
        <li class="main__list-item">
            {{{page1}}}
        </li>

        <li class="main__list-item">
            {{{page2}}}
        </li>

        <li class="main__list-item">
            {{{page3}}}
        </li>

        <li class="main__list-item">
            {{{page4}}}
        </li>

        <li class="main__list-item">
            {{{page5}}}
        </li>

        <li class="main__list-item">
            {{{page6}}}
        </li>

        <li class="main__list-item">
            {{{page7}}}
        </li>

        <li class="main__list-item">
            {{{page8}}}
        </li>
    </ul>
</main>