<main class="main">
    <nav class="main__menu">
        <ul class="main__menu-list">
            <li class="main__menu-item">
                <button class="main__button">page-sign-in</button>
            </li>

            <li>
                <button class="main__button">page-create-account</button>
            </li>

            <li>
                <button class="main__button">page-profile-data</button>
            </li>

            <li>
                <button class="main__button">page-profile-data-change</button>
            </li>

            <li>
                <button class="main__button">page-profile-data-change-password</button>
            </li>

            <li>
                <button class="main__button">page-chat</button>
            </li>

            <li>
                <button class="main__button">page-error-505</button>
            </li>

            <li>
                <button class="main__button">page-error-404</button>
            </li>
        </ul>
    </nav>

    <ul class="main__list">
        <li class="main__list-item main__list-item--isShow" id="page-sign-in">
            {{{page1}}}
        </li>

        <li class="main__list-item" id="page-create-account">
            {{{page2}}}
        </li>

        <li class="main__list-item" id="page-profile-data">
            {{{page3}}}
        </li>

        <li class="main__list-item" id="page-profile-data-change">
            {{{page4}}}
        </li>

        <li class="main__list-item" id="page-profile-data-change-password">
            {{{page5}}}
        </li>

        <li class="main__list-item" id="page-chat">
            {{{page6}}}
        </li>

        <li class="main__list-item" id="page-error-505">
            {{{page7}}}
        </li>

        <li class="main__list-item" id="page-error-404">
            {{{page8}}}
        </li>
    </ul>
</main>