<article class="message-group {{className}}">
    <div class="message-group__wrap-image">
        <img class="message-group__image" src="{{src}}" alt="{{alt}}"/>`
    </div>

    <div class="message-group__date">{{date}}</div>

    <div class="message-group__wrap">
        <p class="message-group__name">{{name}}</p>
        
        <p class="message-group__text" title="{{message}}">
            {{message}}
        </p>
    </div>

    <div class="message-group__counter">{{counter}}</div>
</article>