<div class="input-search">
    <input
            class="input-search__field {{className}}"
            id="{{id}}"
            type="{{type}}"
            name="{{name}}"
            value="{{value}}"
            placeholder="{{placeholder}}"
    />
</div>