<section class="create-account">
    <div class="create-account__body">
        <form class="create-account__form" id="createAccount-form-id">
            <h2 class="create-account___title">Регистрация</h2>

            <div class="create-account__wrap">
                {{{input1}}}
                {{{input2}}}
                {{{input3}}}
                {{{input4}}}
                {{{input5}}}
                {{{input6}}}
                {{{input7}}}
            </div>

            <ul class="create-account__list">
                <li>
                    {{{button}}}
                </li>

                <li>
                    <button
                            class="create-account__button-to-sign-in"
                            id="create-account__button-to-sign-in-id"
                            type="button">
                        Войти
                    </button>
                </li>
            </ul>
        </form>
    </div>
</section>