<section class="profile">
    <button
            class="profile__button-back"
            id="slkdfj"
            type="button">
        {{{iconArrow}}}
    </button>

    <div class="profile__wrap">
        <label class="profile__avatar">
            <input class="profile__input" type="file">

            <img class="profile__icon"
                 src="{{src}}"
                 alt="{{alt}}"/>

            <p class="profile__text">Поменять <br> аватар</p>
        </label>

        <p class="profile__name">{{name}}</p>
    </div>

    <div class="profile__content">
        {{{content}}}
    </div>
</section>
