<label class="input">
    <input class="input__filed"
           type="{{type}}"
           name="{{name}}"
           id="{{id}}"
           required
    />

    <span class="input__label">{{labelValue}}</span>

    <p class="input__error">{{error}}</p>
</label>
